body,html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  line-height: 1.5;
}

#header_nav{
  padding: 1em 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 10%);
  font-weight: 500;
  font-size: 125%;
  letter-spacing: .02em;
}

#header_nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#header_nav li{
  padding: 0.5em;
  margin: 0 0.5em;
  text-align: center;
}

#header_nav a{
  color: #003B73;
  padding-bottom: 0.2em;
  text-decoration: none;
}

#header_nav a:hover{
  color: #000C66;
  border-bottom: .1em solid #000C66;
}

.container{
  max-width: 62.5rem;
  margin: 0 auto;
  font-size: 21px;
  padding: 2em;
}

.a{
  display: none;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 500;
  background: #444857;
  color: #fff;
}

.b{
  position: absolute;
  animation: anime 3s cubic-bezier(0.17,0.67,0.83,0.67);
  opacity: 0;
}

@keyframes anime{
  0%{opacity: 1; left: 10%; transform: rotate(0deg); font-size: 32px;}
  50%{opacity: 1; left: 50%; transform: rotate(45deg); font-size: 40px;}
  100%{opacity: 1; left: 90%; transform: rotate(-45deg); font-size: 32px;}
}

.a div:nth-child(5){
  animation-delay: 0.2s;
}

.a div:nth-child(4){
  animation-delay: 0.4s;
}

.a div:nth-child(3){
  animation-delay: 0.6s;
}

.a div:nth-child(2){
  animation-delay: 0.8s;
}

.a div:nth-child(1){
  animation-delay: 1s;
}

@media only screen and (max-width: 600px) {

      .b{
        position: static;
      }

      .a{
        flex-direction: column;
        justify-content: space-around;
      }

}

particle{
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

#about{
  position: relative;
  font-size: 24px;
}

#about_cs{
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 256px;
  color: #fff;
  text-shadow: 3px 3px 20px #f6f6f6, -2px 1px 30px #f6f6f6;
  text-shadow: 3px 3px 20px #75E6DA, -2px 1px 30px #75E6DA;
}

@media only screen and (min-width: 600px){

  #flip_this{
    writing-mode: vertical-lr;
    }

  }

@media only screen and (max-width: 750px){

  #about_cs{
    display: none;
  }

}

#projects{
  margin: 2em 4em;
  margin-top: 0;
  padding: 2em;
  border: 1px solid #75E6DA;
  /* border-top: none;
   border-left: none; */
  border-radius: 15px;
  min-height: 250px;
  display: flex;
  flex-flow: row wrap;
}

#projects > *{
  flex: 1;
}

#projects > *{
  min-width: 24ch;
}

#projects #projects_links{
  max-width: 24ch;
}

#projects_links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ccc;
  line-height: 1.6;
}

#projects_links > *{
  border-right: 3px solid #fff;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding: 0.75em 0.25em;
}

#projects_links > *:hover{
  cursor: pointer;
  border-right: 3px solid #75E6DA;
}

#projects_links a{
  padding: 1em;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  /*padding: 0.75em 0.25em;*/
  text-decoration: none;
  color: inherit;
}

#projects_links a:hover{
  border-bottom: 1px solid #ccc;
}

#projects_description{
  padding: 2em;
  line-height: 3;
  font-family: monospace;
  font-size: 16px;
  min-width: 400px;
}

.projects_description_class{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.projects_description_class > *{
  flex: 1;
  margin: 12px;
}

.projects_img{
  max-width: 180px;
}

.projects_img img{
  max-width: 180px;
  height: 250px;
}

.projects_about{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 350px; /* added */
}

#projects_links .fa{
  color: navy;
  font-size: inherit;
}

.arrow{
  position: absolute;
  margin-top: 5px;
  animation: project_links_slide 0.75s infinite alternate;
}

@keyframes project_links_slide {
  from{
    margin-lefts: 0;
    transform: translateX(0);
  }
  to{
    margin-lefts: 6px;
    transform: translateX(6px);
  }
}

@media only screen and (max-width: 900px/*pre 750px */) {
  #projects > *{
    min-width: 450px;
  }
  #projects_links{
    border-right: none;
    border-bottom: 1px solid #ccc;
    align-items: center;
  }
  #projects #projects_links{
    min-width: 200px;
    max-width: 75ch; /*pre 750px */
  }
  .arrow{
    transform: rotate(90deg);
  }
  /* added */
  #projects_description{
    padding: 0;
  }
  #projects{
    padding: 1em;
  }
}

.project_about_h1{
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
